#white{
    color:white;
}

#sub{
    color:white;
}

.container.big{
    background-color:white;
    width: 100%;
    
}
 
#menu2{
    color:white;
}

#yellow{
    color:black;
    background-color: #dfb812;
}

#brown{
    color:white;
    background-color: brown;
}

#ba936e{
    color:white;
    background-color: #ba936e;
}

#d34992{
    color:white;
    background-color: #d34992;
}

#a74da1{
    color:white;
    background-color: #8288c8;
}

#green{
    color:white;
    background-color: #378f2b;
}

#green2{
    color:white;
    background-color:#57af2c;
}

#green3{
    color:white;
    background-color:#81be19;
}

#red{
    color:white;
    background-color:#af2c36;
}

#blue{
    color:white;
    background-color:#19abbe;
}