.team-classic{
    background-image: url(../images/team_preview.jpeg);
    
}

#whitel{
    color:white;
}

img{
    border-style: solid;
    border-width: 5px;
    border-color: white;
}