.team-member{
    height:50%;
    width:50%;
    align-content: right;
    text-align: center;
    left:25%;
}
.BDI{
   align-content: center;
   left:25%;
   text-align: center;
}
.button.secondary-btn{
    background-color: red;
    border-color: white;
    border-bottom-color: black;
    border-top: 2px;
}


.grid-system .columns .column p {
   padding: 40px;
   font-size: 1.2rem;
   font-weight: 600;
   color: rgb(0, 0, 0);
   text-align: center;
   border-radius: 4px;
}
li{
    color: white;
}
.button.btn-align.primary-btn{
   background-color: blue;
   border-top: 2px;
   color: white;
   padding: 20px;
   display: none;
}

.productprices{
    align-content: center;
    text-align: center;
}

.single-image-carousel.image-wrapper{
   width: 50%;
   height: 50%;
}


.single-toggle-wrapper .toggle-wrap .trigger a {
    color:white;
    background-color: red;
    font-size: 20px;
    
    
}
.button.btn-align{
    background-color: red;
    color: white;
}

.r90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
   
    width: 70px;
    margin: 40px;
}

.carousel-item.i2{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg); 
    border: 2px;
    
}
.column.i3 {
    bottom: 100px;
    position: absolute;
    padding: 20px;
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: .75rem;
    background-color:white;
    border: 2px;
    border-bottom-color: black;
    
}

.productprices{
    position: absolute;
    top: 1800px;
    background-color:white;
}

.menu-toggle.icon-line-center {
    background: #000000;
}

.menu-toggle.icon-line-top {
    background: #000000;
}

.menu-toggle.icon-line-bottom {
    background: #000000;
}

.text1{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.text2{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.text3{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.text4{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-style: italic;
}


#ZenImage{
    width: 140px;
    
}

#CenterZen{
    align-content: center;
    Left: 400px;
    text-align: center;
}

hr{
    color: #000000;
}
                                                           

