.team-member{
    height:50%;
    width:50%;
    align-content: right;
    text-align: center;
    left:25%;
}
.BDI{
   align-content: center;
   left:25%;
   text-align: center;
}
.button.secondary-btn{
    background-color: red;
    border-color: white;
    border-bottom-color: black;
    border-top: 2px;
}


.grid-system .columns .column p {
   padding: 40px;
   font-size: 1.2rem;
   font-weight: 600;
   color: rgb(0, 0, 0);
   text-align: center;
   border-radius: 4px;
}
li{
    color: white;
}
.button.btn-align.primary-btn{
   background-color: blue;
   border-top: 2px;
   color: white;
   padding: 20px;
   display: none;
}

.productprices{
    align-content: center;
    text-align: center;
}

.single-image-carousel.image-wrapper{
   width: 50%;
   height: 50%;
}


.single-toggle-wrapper .toggle-wrap .trigger a {
    color:white;
    background-color: red;
    font-size: 14;
    
    
}
.button.btn-align{
    background-color: red;
    color: white;
}